@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: NeutralFaceB;
    src: url(./fonts/NeutralFace-Bold.otf);
}

@font-face {
    font-family: NeutralFace;
    src: url(./fonts/NeutralFace.otf);
}
@keyframes colorAnimation {
    0% { color: rgb(255, 0, 0); }
    33% { color: rgb(0, 255, 0); }
    66% { color: rgb(0, 0, 255); }
    100% { color: rgb(255, 0, 0); }
  }